@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src: url('BPGNinoMtavruli-Bold.woff') format('woff'),
       url('BPGNinoMtavruli-Bold.ttf') format('truetype'),
       url('BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpg_nino_mtavruli_bold';
  src: url('bpg_nino_mtavruli_bold.eot');
  src: url('bpg_nino_mtavruli_bold.woff2') format('woff2'),
       url('bpg_nino_mtavruli_bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPGNinoMtavruli';
  src: url('BPGNinoMtavruli.woff') format('woff'),
       url('BPGNinoMtavruli.ttf') format('truetype'),
       url('BPGNinoMtavruli.svg#BPGNinoMtavruli') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpg_nino_mtavruli_normal';
  src: url('bpg_nino_mtavruli_normal.eot');
  src: url('bpg_nino_mtavruli_normal.woff2') format('woff2'),
       url('bpg_nino_mtavruli_normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans-Bold';
  src: url('DejaVuSans-Bold.woff') format('woff'),
       url('DejaVuSans-Bold.ttf') format('truetype'),
       url('DejaVuSans-Bold.svg#DejaVuSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu-sans-bold';
  src: url('dejavu-sans-bold.eot');
  src: url('dejavu-sans-bold.woff2') format('woff2'),
       url('dejavu-sans-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('DejaVuSans.eot');
  src: url('DejaVuSans.woff2') format('woff2'),
       url('DejaVuSans.woff') format('woff'),
       url('DejaVuSans.ttf') format('truetype'),
       url('DejaVuSans.svg#DejaVuSans') format('svg'),
       url('DejaVuSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Noto Font*/

@font-face {
	font-family: 'Noto Sans UI';
	src: url('NotoSansUI-Bold.eot');
	src: url('NotoSansUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansUI-Bold.woff2') format('woff2'),
		url('NotoSansUI-Bold.woff') format('woff'),
		url('NotoSansUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('NotoSans.eot');
	src: url('NotoSans.eot?#iefix') format('embedded-opentype'),
		url('NotoSans.woff2') format('woff2'),
		url('NotoSans.woff') format('woff'),
		url('NotoSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Georgian';
	src: url('NotoSansGeorgian-Bold.eot');
	src: url('NotoSansGeorgian-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansGeorgian-Bold.woff2') format('woff2'),
		url('NotoSansGeorgian-Bold.woff') format('woff'),
		url('NotoSansGeorgian-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Georgian';
	src: url('NotoSansGeorgian-Regular.eot');
	src: url('NotoSansGeorgian-Regular.eot?#iefix') format('embedded-opentype'),
		url('NotoSansGeorgian-Regular.woff2') format('woff2'),
		url('NotoSansGeorgian-Regular.woff') format('woff'),
		url('NotoSansGeorgian-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
